/* Breakpoints
   ================================================================================================================== */


$breakpoint-lap:          481px;
$breakpoint-desk:         1024px;
$breakpoint-bigscreen:    1700px;



/* Colors
   ================================================================================================================== */

$black:            #000;
$white:            #fff;
$gray-border:      #e1e1e1;


/* Typograhy
   ================================================================================================================== */

$font-family:      "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font:             1em/1.5 $font-family;


/* Link colors
   ================================================================================================================== */

$link-color:       #386990;
